.software_blob_1 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.software_image_1 {
    max-width: 100%;
}

.software_image_text_1 {
    background-color: aqua;

    flex-basis: 40%;
    font-size: 40px;
    padding-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.software_blob_2 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.software_image_2 {
    max-width: 100%;
}

.software_image_text_2 {
    background-color: aqua;

    flex-basis: 40%;
    font-size: 40px;
    padding-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
